CREATE TABLE fact_battery_events (
    battery_id INT,
    timestamp TIMESTAMP,
    voltage FLOAT,
    temperature FLOAT,
    cycles INT,
    anomaly_flag INT
)

CREATE TABLE dim_battery (
    batter_id INT,
    battery_type VARCHAR(255),
    capacity FLOAT,
    manufacturer TEXT,
    installation_date DATE
)

CREATE TABLE battery_daily_kpi (
    battery_id INT,
    date DATE,
    anomaly_rate FLOAT,
    health_score FLOAT,
    usage_intensity FLOAT,
    failure_risk FLOAT
)